<div class="m-8">

    <div class="sm:grid-cols-1">
        <div class="headerSection flex justify-between items-center">
            <div>
                <p class="text-orange-600 text-2xl font-bold">Book Store Name.</p>
            </div>
            <div>
                <nav>
                    <ul class="flex">
                        <a href="">
                            <li class="pr-8 hover:text-orange-600 font-bold">Home</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div>
                <a href="https://redwan-islam.netlify.app/"><i class="fa-solid fa-user pr-4 font-bold"></i></a>
                <i class="fa-solid fa-magnifying-glass font-bold"></i>
            </div>
        </div>
    </div>
    <div class="bannerSection m-8 bg-gray-300">
        <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center">
            <div>
                <p class="text-6xl font-extrabold">
                    Buy <span class="text-orange-600">Or</span> Rent <span class="text-orange-600">Your</span>
                </p>
                <p class="text-6xl font-extrabold">
                    Favourite <span class="text-orange-600">Books</span>
                </p>
                <p class="text-6xl font-extrabold">
                    From <span class="text-orange-600">Here</span>
                </p>
                <div class="mt-5">
                    <button
                        class="text-sm font-extrabold rounded px-2 py-3 border-2 hover:bg-orange-600 hover:text-white">
                        Explore More <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div>
                <img src="assets/images/hero-bg.png" alt="" class="h-2/3" />
            </div>
        </div>
    </div>
</div>