<div class="sm:grid-cols-1">
    <div class="footerSection pt-8 m-8">
        <div class="flex justify-between">
            <div>
                <p class="text-orange-600 text-xl font-extrabold">
                    Book Store Name
                </p>
            </div>
            <div class="text-lg">
                <a href="https://www.facebook.com/Redwanislamdip/"><i
                        class="fa-brands fa-square-facebook pr-4 hover:text-rose-600"></i></a>
                <a href="https://www.youtube.com/channel/UCeNfWfHFRpU4ZDKK1HMGVNA/featured"><i
                        class="fa-brands fa-youtube pr-4 hover:text-rose-600"></i></a>
                <a href="https://www.linkedin.com/in/redwan-islam1999/"><i
                        class="fa-brands fa-linkedin pr-4 hover:text-rose-600"></i></a>
                <a href="https://github.com/Redwan-Islam"><i
                        class="fa-solid fa-laptop-code hover:text-orange-600"></i></a>
            </div>
        </div>
    </div>
</div>
<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022
    All Rights Reserved.
</span>